body {
	display: flex;
	justify-content: center;
}

nav {
	box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, var(--border-opacity));
	border-radius: 0 0 0.5rem 0.5rem;
}

footer,
#findFile {
	box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, var(--border-opacity));
}

header {
	box-shadow: 0 -0.1rem 0.3rem 0 rgba(0, 0, 0, var(--border-opacity));
}

nav > div > *:not(div),
.dropdown > p {
	padding: 1rem;
	color: inherit !important;
}

nav > div > *:hover {
	color: var(--text) !important;
	text-decoration: none !important;
}

.dropdown {
	position: relative;
}

.dropdown > .dropdown-menu {
	color: var(--text);
	display: flex;
	flex-direction: column;
	min-width: 8rem;
	border-radius: 5px;
	overflow: hidden;
}

@media (min-width: 768px) {
	.dropdown > .dropdown-menu {
		visibility: hidden;
		position: absolute;
		top: 90%;
		left: 5%;
		background-color: var(--bg);
		border: 1px solid var(--hover);
		transform: translateY(-0.3rem);
		box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, var(--border-opacity));
		transition: transform 0.2s ease-in-out, visibility 0.2s;
	}

	.dropdown:hover > .dropdown-menu {
		visibility: visible;
		transform: translateY(0);
	}
}

@media (max-width: 767px) {
	nav {
		border-radius: 0;
	}

	.dropdown > .dropdown-menu {
		background-color: hsl(from var(--bg) h s calc(l + 3));
		margin: 0 1rem;
		box-shadow: inset 0.05rem 0.1rem 0.2rem 0 rgba(0, 0, 0, var(--border-opacity));
		max-height: 0;
		transition: max-height 0.4s ease-in-out, margin-top 0.4s ease-in-out;
	}

	.dropdown-menu.nav-active {
		max-height: 10rem;
	}
}

.dropdown-menu > a {
	padding: 0.5rem 1rem;
	color: var(--text) !important;
	text-decoration: none !important;
}

.dropdown-menu > a:hover {
	background-color: var(--hover);
}

.link-list > a {
	font-weight: 400;
	margin-left: 0.4rem;
}

.sources {
	display: flex;
	flex-direction: column;
	position: absolute;
	box-shadow: 0 0.1rem 0.3rem 0 var(--hover);
	right: 1rem;
	padding: 1.5rem;
	border-radius: 0.75rem;
	border: 2px solid var(--secondary);
	font-weight: 600;
	line-height: 1.625;
}

@media (max-width: 767px) {
	.sources {
		display: flex;
		flex-direction: column;
		position: static;
		width: fit-content;
		border: none;
		box-shadow: none;
		padding: 0.5rem;
		font-weight: 600;
		line-height: 1.625;
		margin-bottom: 1.5rem;
	}

	.sources > h3 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}
