body {
	display: flex;
	justify-content: center;
}

nav > div > * {
	padding: 1rem;
	color: inherit !important;
}

nav > div > *:hover {
	color: var(--text) !important;
}

.dropdown {
	position: relative;
}

.dropdown > .dropdown-menu {
	color: var(--text);
	display: flex;
	flex-direction: column;
	min-width: 8rem;
	visibility: hidden;
	position: absolute;
	background-color: var(--bg);
	border-radius: 5px;
	top: 80%;
	border: 1px solid #dadada;
	transform: translateY(-0.3rem);
	overflow: hidden;
	box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease-in-out, visibility 0.2s;
}

.dropdown:hover > .dropdown-menu {
	visibility: visible;
	transform: translateY(0);
}

.dropdown-menu > a {
	padding: 0.5rem 1rem;
	color: var(--text) !important;
}

.dropdown-menu > a:hover {
	background-color: #e7e7e7;
}

.link-list > a {
	font-weight: 400;
	margin-left: 0.4rem;
}

.sources {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 1rem;
	padding: 1.5rem;
	border-radius: 0.75rem;
	border: 2px solid black;
	font-weight: 600;
	line-height: 1.625;
}
